<h1>Editing speed</h1>

<% form_for(@speed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @speed %> |
<%= link_to 'Back', speeds_path %>