<h1>Listing speeds</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @speeds.each do |speed| %>
  <tr>
    <td><%=h speed.name %></td>
    <td><%= link_to 'Show', speed %></td>
    <td><%= link_to 'Edit', edit_speed_path(speed) %></td>
    <td><%= link_to 'Destroy', speed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New speed', new_speed_path %>