<p>
  <b>Name:</b>
  <%=h @record.name %>
</p>

<p>
  <b>Artist:</b>
  <%=h @record.artist_id %>
</p>

<p>
  <b>Speed:</b>
  <%=h @record.speed_id %>
</p>

<p>
  <b>Multiple units:</b>
  <%=h @record.multiple_units %>
</p>

<p>
  <b>Catalog number:</b>
  <%=h @record.catalog_number %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>